#title{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    margin-top: -60px;
    margin-left: 175px;
    padding-left: 10px;
    text-shadow: 0 0 24px rgba(189,21,189,.8);

    #title.span{
        background: -webkit-linear-gradiant(white, #445669);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}

