.form-container{
    display: flex;
    justify-content: center;
    align-self: center;
        .card-form{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%)
    }
    
}
