$s: 2em;
$w: 13em;
$f: 19/13;
$g: 1em;
$n: 7;
$c: #4B384C;

.sidebar-left{

    position: fixed;
    float: left;
    top: 0;
    left: 0;
    width: 10em;  
    height: 100vh;
    color: white;
    background-color: #F5F105;
    // background: 	linear-gradient(90deg, 
	// 			#632C65, #E2A9E5);

    //         &:before, &:after {
	// 	--p: 0;
	// 	--s: calc(1 - 2*var(--p));
	// 	// position: absolute;
	// 	top: 0; right: 0; bottom: 0; left: 0;
	// 	-webkit-mask: var(--m);
	// 	mask: var(--m);
	// 	content: ''
	// }
	
	// &:after { --p: 1 }

    //     	&:before, &:after {
    //             background:
	// 			linear-gradient(calc(var(--s)*45deg), 
	// 					transparent calc(50% - 1px), $c 0, 
	// 					$c calc(50% + 1px), transparent 0) 
	// 				0 0/ #{.25*$s .25*$s};
	// 		--m: 
	// 			linear-gradient(red 50%, transparent 0) 
	// 					0 0/ #{2*$s 2*$s}, 
	// 			linear-gradient(90deg, red 50%, transparent 0) 
	// 			calc(var(--p)*#{$s}) 0/ #{2*$s 2*$s};
	// 		-webkit-mask-composite: xor;
	// 		mask-composite: exclude;
    // }		

    overflow-x: hidden;
    padding-top: 20px;
    z-index: 2;
        .vertical-text-left{
            display: flex;
            align-items: center;
            transform: rotate(270deg);
            transform-origin: left center 4;
            cursor: vertical-text;
            font-size: 1em;
            font-family: 'Menlo', monospace;
            white-space: nowrap;
            letter-spacing: 3px;
            position: relative;
          
            
           .navi{
                display: flex;
               margin: 5%;
               padding-top: 20px 10px;
               &:hover{
                    text-decoration: underline overline;
               }
              
           }

}


 
}

.icons{
    display: inline-flex;
}